{
  "extends": [
    "airbnb-base"
  ],
  "env": {
    "node": true,
    "browser": true,
    "jquery": true,
    "commonjs": true
  },
  "rules": {
    "max-len": [2, 120, 2],
    "no-console": 0,
    "global-require": 0
  }
}
